#victim-container {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#victim-container h1 {
    text-align: center;
}

#victim-container .email-row {
    margin-top: 1rem;
}

#victim-container .filter-accept,
#victim-container .filter-block {
    display: none;
}