#victim-container {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#victim-container h1 {
    text-align: center;
}

#victim-container .email-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#victim-container .email-row #email-content {
    max-height: 50vh;
    overflow: scroll;
}

#victim-container #filter-accept,
#victim-container #filter-block {
    display: none;
}